/* _content/InnoGotchi.WEB/Views/Shared/_Layout.cshtml.rz.scp.css */
a.navbar-brand[b-1a0uq0wcxl] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-1a0uq0wcxl] {
  color: #0077cc;
}

.btn-primary[b-1a0uq0wcxl] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-1a0uq0wcxl], .nav-pills .show > .nav-link[b-1a0uq0wcxl] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-1a0uq0wcxl] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-1a0uq0wcxl] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-1a0uq0wcxl] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-1a0uq0wcxl] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-1a0uq0wcxl] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

body[b-1a0uq0wcxl] {
    background-color: #fbfbfb;
}

@media (min-width: 991.98px) {
    main[b-1a0uq0wcxl] {
        padding-left: 240px;
    }
}

/* Sidebar */
.sidebar[b-1a0uq0wcxl] {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
}

@media (max-width: 991.98px) {
    .sidebar[b-1a0uq0wcxl] {
        width: 100%;
    }
}

.sidebar .active[b-1a0uq0wcxl] {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky[b-1a0uq0wcxl] {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.validation-error[b-1a0uq0wcxl] {
    margin-top: 6px;
}

a > i[b-1a0uq0wcxl] {
    margin-right: 10px;
}
