@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi!</h1>
    <p>There is nothing on the home page yet.</p>
    <p>Register or log in to the site using the button above to open more options</p>
</div>
