@using InnoGotchi.Http.Models
@using InnoGotchi.WEB.Utility
@model PasswordUpdateModel
@inject IHttpContextAccessor HttpContextAccessor
@{
    Model.UserId = HttpContextAccessor.HttpContext.Session.Get<int>("UserId");
    ViewBag.Title = "Settings";
}

<div class="row d-flex justify-content-center" style="margin-top: 50px">
    <div class="col-md-4">
    
        <form asp-action="UpdateUserPassword" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger">
            </div>

            <input asp-for="UserId" value="@Model.UserId" hidden="hidden" class="form-label"></input>

            <span asp-validation-for="OldPassword" class="text-danger"></span>
            <div class="form-outline mb-4 validation-error">
                <input asp-for="OldPassword" type="password" id="old" class="form-control" />
                <label asp-for="OldPassword" class="form-label" for="old">Old password</label>
            </div>

            <span asp-validation-for="NewPassword" class="text-danger"></span>
            <div class="form-outline mb-4 validation-error">
                <input asp-for="NewPassword" type="password" id="new" class="form-control" />
                <label asp-for="NewPassword" class="form-label" for="new">New password</label>
            </div>

            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            <div class="form-outline mb-4 validation-error">
                <input asp-for="ConfirmNewPassword" type="password" id="confirm" class="form-control" />
                <label asp-for="ConfirmNewPassword" class="form-label" for="confirm">Confirm password</label>
            </div>

            <button type="submit" class="btn btn-primary btn-block mb-4">Change password</button>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}