@model string

<link rel="stylesheet" href="~/css/modal.css" asp-append-version="true" />

<style>
    .alert {
        padding: 20px;
        background-color: #369ab5;
        color: white;
        margin-bottom: 15px;
    }
</style>

<div class="alert">
    <a asp-action="Index" asp-controller="Home" class="closebtn" onclick="this.parentElement.style.display='none';">&times;</a>
    <strong>Success!</strong>&nbsp;You have successfully logout;
</div>